
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: gold;
}

.product {
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 80%;
}
.ListGroup {
  text-align: center;
  font-size: large;
}
.img-thumbnail {
  height: 100px;
}

.small-container {
  max-width: 600px;
}

